@import "http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|Droid+Serif:regular,italic,bold,bolditalic&subset=latin";
@import "http://fonts.googleapis.com/css?family=Montez";

.navbar-custom .navbar-brand  {
   font-family: "Montez",cursive;
   font-size: 30px;
   line-height: 35px;
   padding: 5px 0 0;
   color: #88c34b;
}

.logo p {
    font-family: "Droid Serif",Times,serif;
    font-size: 13px;
    font-style: italic;
}
